<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDx0ed_eqjilWE4XKhj1mD64RYy0IX3wVs</string>
	<key>GCM_SENDER_ID</key>
	<string>246772098548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.midasgames.highscoretd</string>
	<key>PROJECT_ID</key>
	<string>highscoretd-muratcangurel</string>
	<key>STORAGE_BUCKET</key>
	<string>highscoretd-muratcangurel.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246772098548:ios:c438e9bc507d9104f145a1</string>
</dict>
</plist>